In [1]:
import pandas as pd

In [2]:
data_1 = pd.DataFrame({"opp_id": [1,3,5,7,18], "count": [16,29,83,75,16]})

In [3]:
data_2 = pd.DataFrame({"steffi_id": [1,2,6,7,18]})

In [4]:
data_1

   opp_id  count
0       1     16
1       3     29
2       5     83
3       7     75
4      18     16

In [5]:
data_2

   steffi_id
0          1
1          2
2          6
3          7
4         18

In [6]:
data_1["opp_id"].isin(data_2["steffi_id"])

0     True
1    False
2    False
3     True
4     True
Name: opp_id, dtype: bool

In [7]:
mask_is_in_steffi_data = data_1["opp_id"].isin(data_2["steffi_id"])

In [8]:
data_1[mask_is_in_steffi_data]

   opp_id  count
0       1     16
3       7     75
4      18     16

In [9]:
data_1[~mask_is_in_steffi_data]

   opp_id  count
1       3     29
2       5     83